@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Roboto:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.4;
  overflow: hidden;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;
  z-index: 1;
  background-color: rgba(47, 47, 47, 0.813);
  filter: drop-shadow(2px 10px 5px rgb(255, 255, 255));
}
.inner {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255) !important;
  display: flex;
  align-items: center;
}
canvas {
  width: 90vw;
  height: 100%;
  position: absolute;
  left: 50%;
  filter: drop-shadow(0px -10px 5px rgb(255, 255, 255));
  transform: translateX(-50%);
}

.word-input {
  position: absolute;
  width: 300px !important;
  height: 60px !important;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0 13px;
  font-size: 25px !important;
  color: rgb(0, 0, 0);
  font-weight: 600 !important;
  text-align: center;
}
li {
  position: relative;
}
li::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
}
li:nth-child(1):before {
  background-color: #ff006e;
}
li:nth-child(2):before {
  background-color: #14213d;
}
li:nth-child(3):before {
  background-color: #8338ec;
}
li:nth-child(4):before {
  background-color: #606c38;
}
.scoreboard {
  position: absolute;
  right: 0px;
  width: 150px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.508);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  z-index: 1;
  top: 60px;
  padding-left: 30px;
  text-align: center;
}

.count,
.score,
.word-count,
.life,
.try-count {
  font-size: 20px;
  font-weight: 900;
}
.score {
  color: #00bcd4;
}

input[type='radio'] {
  display: none;
}

.reset-btn {
  position: absolute;
  width: 250px;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.time {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(233, 162, 30);
  font-size: 30px;
  font-weight: 600;
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}

.line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  box-sizing: border-box;
}
.line > * {
  margin: 0;
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}
.description {
  width: 250px;
}
.description > span {
  font-size: 14px;
  color: red;
}
.modal-body {
  padding: 0 50px !important;
}
